
@Html.Partial("Space")



<h1>Contact information</h1>
<address>
    Address: Sami Shimon Beer-Sheva<br />
    Phone number(Main Branch): 03-710-0000<br />
    Site Owner's Number<br />
    050-0000-000
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@PetShop.com">Support@PetShop.com</a><br>
    <strong>Marketing:</strong> <a href="mailto:Marketing@PetShop.com">Marketing@PetShop.com</a>
</address>