@Html.Partial("Space")

<!--  Website template by freewebsitetemplates.com  -->
<html>
<head>
<title>Pet Shop</title>
<meta charset="iso-8859-1" />
<link href="css/style.css" rel="stylesheet" type="text/css" />
<!--[if IE 6]>
    <link href="css/ie6.css" rel="stylesheet" type="text/css" />
<![endif]-->
<!--[if IE 7]>
    <link href="css/ie7.css" rel="stylesheet" type="text/css" />
<![endif]-->
 </head>
<body>
    <div id="body">

        <div class="banner">&nbsp;</div>

        <div id="content">

            <div class="content">
                <ul>
                    <li>
                        <a><img src=@Url.Content("/images/puppy.jpg") width="114" height="160" alt="Pet Shop" title="Pet Shop"></a>
                        <h2>What they need</h2>
                        <p>If you're a dog owner, you probably already know just how awesome dogs are. They fill your life with love to smile about.<a class="more" href="https://en.wikipedia.org/wiki/Puppy">View all</a></p>
                    </li>
                    <li>
                        <a><img src=@Url.Content("/images/cat.jpg") width="114" height="160" alt="Pet Shop" title="Pet Shop"></a>
                        <h2>Something good</h2>
                        <p>The nose prints of both dogs and cats are unique - ridged in a pattern just like fingerprints of humans. <a class="more" href="https://en.wikipedia.org/wiki/Cat">View all</a></p>
                    </li>
                    <li>
                        <a><img src=@Url.Content("/images/koi.jpg") width="114" height="160" alt="Pet Shop" title="Pet Shop"></a>
                        <h2>Kinds of Fish</h2>
                        <p>Fish are cold-blooded like reptiles and amphibians. They can't control their body temperature.<a class="more" href="https://en.wikipedia.org/wiki/Fish">View all</a></p>
                    </li>
                    <li>
                        <a><img src=@Url.Content("/images/bird.jpg") width="114" height="160" alt="Pet Shop" title="Pet Shop"></a>
                        <h2>Fun birds</h2>
                        <p>Birds mostly use their keen eyesight to find food. They use their beak and their claws to get bugs , worms , small mammals , fish , fruit , grain, or nectar <a class="more" href="https://en.wikipedia.org/wiki/Bird">View all</a></p>
                    </li>
                </ul>
            </div>


        </div>

        <div class="featured">
            <ul>
                <li><a href="https://petlifetoday.com/best-organic-dog-food/"><img src=@Url.Content("/images/organic-and-chemical-free.jpg") width="300" height="90" alt="Pet Shop" title="Pet Shop"></a></li>
                <li><a href="https://www.businessinsider.com/best-dog-food"><img src=@Url.Content("/images/good-food.jpg") width="300" height="90" alt="Pet Shop" title="Pet Shop"></a></li>
                <li class="last"><a href="https://bestfriends.org/resources/pet-grooming-tips"><img src=@Url.Content("/images/pet-grooming.jpg") width="300" height="90" alt="Pet Shop" title="Pet Shop"></a></li>
            </ul>

        </div>


    </div>

    <div id="footer">

        <div id="footnote">
            <div class="section">
                &copy; 2019 <a href="">Pet Pension</a>. All Rights Reserved.
            </div>
        </div>
    </div>
</body>
</html>

