


<div class="navbar-collapse collapse" id="Home">
    <ul class="nav navbar-nav">

        <li><a href="~/User/Index">Home</a></li>
        <li><a href="/User/Shop">Shop</a></li>
        <li><a href="/User/MyCart">My Cart</a></li>
        <li><a href="/user/Pension">Pension</a></li>
        <li><a href="/Home/Logout">LogOut</a></li>
        <li><a href="/User/Options">Options</a></li>
        <li><a href="/User/Contact">Contact</a></li>
        <li><a href="/User/About">About</a></li>

    </ul>
    </div>
