@model WebApplication2.Models.Pension

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("Space")
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Recepent</title>

</head>
<body>
    <h1>Your pet is added</h1>
    <br />
    The total price : @TempData["total"]

</body>
</html>
