


<div class="navbar-collapse collapse" id="Home">
    <ul class="nav navbar-nav">
        <li><a href="~/Home/Index">Home</a></li>
        <li><a href="/Home/SignUp">Sign Up</a></li>
        <li><a href="/Home/Login">Login</a></li>
        <li><a href="/Home/Contact">Contact</a></li>
        <li><a href="/Home/About">About</a></li>
    </ul>
    </div>

